.git
.gitignore
.cursor
.env
.env.*
*.log
coverage
.nx
.local
node_modules
dist
test
*.md
*.zip
*.notes
docker-compose*.yml

# Unrelated infra directories
anchore
anchore-engine
argocd
atlassian-common
aws-efs-csi-driver
aws-efs-volume-k8s-integrator
azure-efs-volume-k8s-integrator
backstage
backups
bamboo
bamboo-agent
bitnami-common
bitnami-common-v2
consul-helm
cronjobs
datadog
ecr-cronjob
eks-aws-auth-ooo-pipelines
eks-upgrade
filebeat
FluxCd
grafana-grafana
grafana-mimir
imagepullsecret-patcher
imagepullsecret-patcher-aks
jiradc
kafka
kafka-azure
kubernetes-dashboard
litemode
metricbeat-helm
microservices
mongodb
new-relic-ingress-health-check
nginx-ingress
OctopusHelmChart
opendj
opsera-ansible
opsera-clickhouse
opsera-eks-fsx
opsera-elk
opsera-elk-elasticsearch
opsera-elk-elasticsearch-aks
opsera-elk-kibana
opsera-elk-kibana-aks
opsera-elk-logstash
opsera-elk-logstash-aks
opsera-hazelcast
opsera-infra-service
opsera-jenkin
opsera-jobengine-core
opsera-kubernetes-service-template
opsera-letsencrypt
opsera-metricbeat
opsera-metricbeat-free-trial
opsera-mongodb
opsera-nagios
opsera-newrelic
opsera-nexus
opsera-platform-vault
opsera-platform-vault-azure
opsera-postgres
opsera-redis
opsera-shared-workspace
opsera-sonarqube
opsera-teamcity
prometheus
rabbitmq-deprecated
spinnaker
synthetics-private-location
tools-cleanup-cronjob
vault-helm
vault-helm-aks
zookeeper
charts
scripts
deploy.sh
